* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto, sans-serif';
}

body {
    padding-top: 150px;
    background-color: rgb(164, 179, 165);
}

header div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

header div img {
    height: 54px;
    margin-right: 25px;
}

header div h1 {
    font-size: 52px;
    font-weight: bold;
}

.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 680px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

form input {
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-left: 2px solid #07a702c2;
    padding: 9px;
}

form button {
    background-color: #07a702c2;
    color: #fff;
    font-size: 22px;
    border: none;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 14px;
    font-size: 23px;
    font-weight: bold;
}

table td {
    padding: 8px 0;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

tbody tr {
    color: rgb(28, 44, 39);
    font-size: 28px;
    font-weight: bold;
}